*{
 Margin:0;
  
 padding:0; 
  
box-sizing:border-box; 
  
font-family: Arial;
  
 } 
body{

 background:black; 
   
color:white; 
  
Overflow-x:hidden;
  
 } 
 .configure{
   
 minimum-height:100vh;
   
padding:40px; 
   
background:linear-gradient(
  
  90deg, #000000, #1d2730, #4f5c63 ); 
   
} 

.title{ 
  
text-align:center; 
  
Font-size:120px;
  
 font-weight:300; 
  
Margin-bottom:50px;
  
 }
 .watch-wheel{
   
 display:grid; 
   
grid-template-columns:1fr 1fr 1fr;
   
 gap:50px;
   
 justify-items:center; 
   
align-items:center;
   
 }
 .watch-show{ 
   
Text-align:center;
   
 }
 .watch-show h2

{ 
Font-size:45px;
  
 Font-weight:300;
  
 Margin-bottom:20px;
  
 }

 .bold{ 
   
font-weight:700;
   
 }
 .watch-show img{
   
Width:280px;
   
 filter:drop-shadow( 0px 0px 30px rgba(255,255,255,0.25) );
   
 Transition:0.3s;
   
 }

 .watch-show img:hover{
   
 transform:scale(1.05); 
   
}

 .watch-show p{ 
   
Margin-top:20px;
   
 Font-size:22px;
   
 color:#ddd; 
   
}
 .center-text{ 
   
text-align:center; 
   
Grid-column:2;
   
 Grid-row:2;
   
 }
 .center-text h1{ 
   
font-size:70px;
 }
li{
  position: relative;
}
.logo{
  margin-right: auto;
  font-size: 5vh;
  font-weight: 300;
  color: white;
}
li a{
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1vmin 4vmin;
  font-size: 3vmin;
  transition: 0.3s;
}
li a:hover{
  background-color: red;
  border-radius: 8px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 1vh 2vw;
  overflow: hidden;
  background-color: #000000;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2vw;
  width: 96vw;
  font-size: 3vh;
}
.car {
  max-height:5vh;
  width:auto;
  margin:0;
}
.ca{
  padding:0px;
}
